body {
  background-color: #ebe1d1;
  font-family: sans-serif;
}

header {
  background: #fffafa;
  background: linear-gradient(90deg, rgba(255, 250, 250, 1) 10%, rgba(179, 152, 152, 1) 55%, rgba(158, 149, 136, 1) 83%);
  text-align: center;
  font-size: 1.7rem;
  border-bottom: 4px solid black;
  margin-bottom: 2%;
  padding: 1%;
}

small {
  font-weight: bolder;
}
main {
  background: #fffafa;
  background: linear-gradient(90deg, rgba(255, 250, 250, 1) 10%, rgba(179, 152, 152, 1) 55%, rgba(158, 149, 136, 1) 83%);
  text-align: center;
  border: 2px solid black;
  border-bottom: 4px solid black;
  padding: 2%;
  font-size: 1.8rem;
}

article > label {
  font-weight: bolder;
}

input {
  border: 2px solid black;
  box-shadow: 5px 5px;
}

table,
td {
  border: 2px solid black;
  padding: 0.7%;
  background-color: wheat;
  font-size: 1.1rem;
}

table {
  box-shadow: 5px 5px;
}

button {
  border: 3px solid black;
  border-radius: 7%;
  background-color: wheat;
  font-weight: bolder;
  padding: 1%;
  margin: 2%;
}

button:hover {
  background-color: rgb(180, 175, 105);
}

#result {
  font-weight: bolder;
  margin: 0.3%;
  text-decoration: underline;
}
